Repository camaraproject/APIBacklog, pull requests merged in 2025-02, with the labels that each got.

#173 Update APIbacklog.md - minor corrections
  documentation/APIbacklog.md
Labels: documentation

#30 new API proposal for Device management
  documentation/API proposals/APIproposal_DeviceManagement_Verizon.md
  documentation/SupportingDocuments/IoT Provisioning APIs.pdf
Labels: API Proposal

#110 support application resource requirements in application profiles
  documentation/API proposals/APIScopeEnhancement_Application_Profiles.md
Labels: Scope Enhancement
